.content {
  padding: 15em 0em;
  text-align: center;
}


#formBtn {
  margin-top: 1vh;
  font-family: presenteIdeal;
  font-size: 27px; 
  padding: 2px;
  border:0;
  border-radius: 10px;
  background-color: rgb(244, 212, 132);
  color: rgb(236, 109, 109);
}
