@font-face {
    font-family: presenteIdeal;
    src: url('../fonts/Matador\ de\ Nimes.ttf');
}

.form-content {
    display: block;
    padding: 100px 0;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-top: -7%;
}

h1 {
    font-family: presenteIdeal;
    font-size: 80px;
}

h2 {
    font-family: presenteIdeal;
    font-size: 40px;
}

#formBtn {
    margin-top: 1vh;
    font-family: presenteIdeal;
    font-size: 27px; 
    padding: 2px;
    border:0;
    border-radius: 10px;
    background-color: rgb(244, 212, 132);
    color: rgb(236, 109, 109);
}

.form-content p {
    color: #333;
}

input {
    line-height: 1.9em;
    border-radius: 7px;
    border-style: none;
    color: #444;
    width: 35%;
}
.image{
    margin-left: 37%;
    margin-top: 40px;
    margin-bottom:40px;
    width: 300px;
    height: 300px;
}
.produto{
    display: flex;
    flex-direction: column;
}